.small_heading_banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.small_heading_banner .banner_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small_heading_banner .inner {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  padding-top: 26.5957446809vh;
  padding-bottom: 15.9574468085vh;
  padding-left: 4.1666666667vw;
  padding-right: 4.1666666667vw;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .small_heading_banner .inner {
    padding-top: 19.1489361702vh;
    padding-bottom: 10.6382978723vh;
  }
}
.small_heading_banner .inner .full_container {
  width: 100%;
}
.small_heading_banner .inner .full_container .w70_block {
  max-width: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.small_heading_banner .inner .full_container .w70_block .page_title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}
.small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_title {
  color: #fff;
  text-shadow: 0 5px 4.6px rgba(0, 0, 0, 0.29);
  min-height: 7.4468085106vh;
}
.small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_subtitle {
  color: #fff;
  min-height: 3.2978723404vh;
}
.small_heading_banner .triangle_decor {
  max-width: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.small_heading_banner .triangle_decor svg {
  width: 100%;
  height: auto;
  margin-bottom: -2px;
}

@media (max-width: 768px) {
  .small_heading_banner .inner {
    padding: 15.9574468085vh 1.0416666667vw 10.6382978723vh 1.0416666667vw;
  }
  .small_heading_banner .inner .full_container .w70_block {
    max-width: 100%;
  }
  .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_title {
    font-size: 2rem;
  }
  .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .small_heading_banner .inner {
    padding: 13.829787234vh 0.78125vw 7.4468085106vh 0.78125vw;
  }
  .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_title {
    font-size: 1.5rem;
  }
  .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_subtitle {
    font-size: 0.875rem;
  }
}
.small_heading_banner__big .inner {
  padding-top: 37.2340425532vh;
  padding-bottom: 26.5957446809vh;
  padding-left: 4.1666666667vw;
  padding-right: 4.1666666667vw;
}
@media (max-width: 992px) {
  .small_heading_banner__big .inner {
    padding-top: 26.5957446809vh;
    padding-bottom: 15.9574468085vh;
  }
}
@media (max-width: 768px) {
  .small_heading_banner__big .inner {
    padding: 26.5957446809vh 1.0416666667vw 15.9574468085vh 1.0416666667vw;
    padding-left: 4.1666666667vw;
    padding-right: 4.1666666667vw;
  }
}
@media (max-width: 480px) {
  .small_heading_banner__big .inner {
    padding: 21.2765957447vh 0.78125vw 10.6382978723vh 0.78125vw;
    padding-left: 4.1666666667vw;
    padding-right: 4.1666666667vw;
  }
}/*# sourceMappingURL=Page_banners.css.map */