@use './functions/Functions.scss' as *;
@use './functions/Mixins.scss' as *;

.about_page {
    .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_title {
      
    }

    .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_subtitle {
      
    }

    .about_section {
        padding-bottom: clamp(#{rem(80)}, #{vh(100)}, #{rem(150)});
        @include responsive_padding;

        .row {
            justify-content: center;

            .about_inner {
                max-width: rem(1260);

                p {
                    font-weight: 400;
                    font-size: clamp(#{rem(15)}, #{vw(17)}, #{rem(17)});
                   
                    letter-spacing: 0.02em;
                    margin-bottom: rem(16);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .about_page {
        .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_title {
            font-size: clamp(#{rem(24)}, #{vw(30)}, #{rem(30)});
          
            // padding: rem(20);
        }

        .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_subtitle {
            font-size: clamp(#{rem(14)}, #{vw(16)}, #{rem(16)});
            
            // padding: rem(20);
        }

        .about_section {
            padding-bottom: clamp(#{rem(60)}, #{vh(80)}, #{rem(100)});
            
            .row {
                .about_inner {
                    p {
                        font-size: clamp(#{rem(14)}, #{vw(15)}, #{rem(15)});
                       
                        margin-bottom: rem(12);
                    }
                }
            }
        }
    }
}