.about_page {
    .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_title {
        font-weight: 500;
        font-size: 70px;
        line-height: 130%;
        letter-spacing: 2%;

    }

    .small_heading_banner .inner .full_container .w70_block .page_title_wrapper .page_subtitle {
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        letter-spacing: 2%;

    }
}