@use "./functions/Functions.scss" as *;
@use "./functions/Mixins.scss" as *;

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.triangle_decor {
  width: 100%;

  // margin-bottom: -5px;
  &_top {
    svg {
      top: -2px;
    }
  }

  &_bottom {
    svg {
      bottom: -2px;
    }
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
  }
}

.mobile_visible {
  display: none;

  @media (max-width: 992px) {
    display: block !important;
  }
}

.mobile_hidden {
  display: block;

  @media (max-width: 992px) {
    display: none !important;
  }
}

.btn {
  &-primary {
    display: inline-flex;
    padding: rem(13) rem(49);
    align-items: flex-start;
    gap: rem(10);
    border-radius: 8px;
    border: 1px solid var(--Black, #000);
    background: var(--White, #fff);
    @include transition();
    &:hover {
      background: var(--Black, #000);
      color: var(--White, #fff);
    }
  }
  &-secondary {
    display: inline-flex;
    padding: rem(13) rem(49);
    align-items: flex-start;
    gap: rem(10);
    border-radius: 8px;
    border: 1px solid var(--Blue, #2b4764);
    background: var(--Blue, #2b4764);
    color: var(--White, #fff);
    @include transition();
    &:hover {
      background: var(--White, #fff);
      color: var(--Blue, #2b4764);
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: vh(50);

  .loading-spinner {
    font-size: rem(18);
    color: #666;
    animation: pulse 1.5s infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.react-datepicker-wrapper {
  width: 100%;
  cursor: pointer;
}
.css-hlgwow {
  height: 39px;
}

.text_details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: vh(90);
  gap: rem(50);
  @media (max-width: 992px) {
    gap: rem(25);
  }
  .line_decor {
    display: flex;
    width: 100%;
    padding: vh(130) vw(140) vh(20) vw(140);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    span {
      width: 100%;
      height: rem(1);
      background-color: black;
    }
  }
}
.services-detail .small_heading_banner__big .banner_image,
.tours_details .small_heading_banner__big .banner_image {
  filter: brightness(50%);
}

.title_small_text {
  width: 100%;
  .title_small_text_wrapper {
    max-width: 1320px;
    margin: 0 auto;
    p {
      font-size: rem(20);
    }
  }
}

span[aria-live="polite"] {
  display: inline-flex;
  width: 100%;
}


.minHeight100{
  min-height: 100vh;
}
.grayBG{
  background-color: #f5f5f5;
}