img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.triangle_decor {
  width: 100%;
  // margin-bottom: -5px;
  svg {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -1px;
  }
}
