@use "./functions/Functions.scss" as *;
@use "./functions/Mixins.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background-image: url("/footer_bg.webp");
  background-size: cover;
  .footer_content {
    display: flex;
    padding: 20px 80px;
    @include responsive_padding;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    .mobile_visible__logo {
      margin-bottom: vh(80);
      width: 100%;
      @media (max-width: 576px) {
        margin-bottom: vh(80);
      }

      .logo_wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        .logo {
          width: vw(600);
          height: auto;
          img {
            width: 100%;
            height: auto;
            aspect-ratio: 281.3/210.65;
          }
        }
      }
    }
    .logo_menu_wrapper {
      display: flex;
      padding: vh(160) 0;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      
      @media (max-width: 992px) {
        flex-wrap: wrap;
        padding-top: vh(80);
      }
       @media (max-width: 576px) {
        padding-bottom: vh(40);
       }
      .logo {
        width: vw(281.3);
        height: auto;
        img {
          width: 100%;
          height: auto;
          aspect-ratio: 281.3/210.65;
        }
        @media (max-width: 992px) {
        }
      }
      .footer_menu {
        display: flex;
        max-width: vw(300);
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        @media (max-width: 1200px) {
          max-width: vw(400);
        }
        @media (max-width: 992px) {
          max-width: 33.33%;
          padding-right: vw(100);
          &:last-child {
            max-width: 25%;
            padding-right: 0;
          }
        }
        @media (max-width: 576px) {
          max-width: 100%;
          margin-bottom: vh(60);
          gap: 15px;
          &:last-child {
            max-width: 100%;
            padding-right: vw(100);
          }
        }

        .footer_menu_title {
          color: #fff;
          font-weight: 400;
          align-self: stretch;
        }
        .footer_menu_list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;
          li {
            a {
              color: #fff;
              font-size: var(--body-xl-size);
            }
          }
        }
      }
    }
    .copyright_wrapper {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
      .copyright_text {
        color: var(--White, #fff);
        font-size: 17px;
      }
      .design_text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span {
          color: var(--White, #fff);
          font-size: 17px;
        }
        img {
          width: 98.826px;
          height: 30px;
          aspect-ratio: 98.83/30;
        }
      }
    }
  }
}
