@use "./functions/Functions.scss" as *;
@use "./functions/Mixins.scss" as *;

.small_heading_banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  .banner_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .inner {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    padding-top: vh(250);
    padding-bottom: vh(150);
    @include responsive_padding;

    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 992px) {
      padding-top: vh(180);
      padding-bottom: vh(100);
    }
    .full_container {
      width: 100%;
      .w70_block {
        max-width: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        .page_title_wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: rem(20);
          align-self: stretch;
          .page_title {
            color: #fff;
            text-shadow: 0 5px 4.6px rgba(0, 0, 0, 0.29);
            min-height: vh(70);
          }
          .page_subtitle {
            color: #fff;
            min-height: vh(31);
          }
        }
      }
    }
  }
  .triangle_decor {
    max-width: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    svg {
      width: 100%;
      height: auto;
      margin-bottom: -2px;
    }
  }
}
@media (max-width: 768px) {
  .small_heading_banner {
    .inner {
      padding: vh(150) vw(20) vh(100) vw(20);
      .full_container {
        .w70_block {
          max-width: 100%;
          .page_title_wrapper {
            .page_title {
              font-size: 2rem;
            }
            .page_subtitle {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .small_heading_banner {
    .inner {
      padding: vh(130) vw(15) vh(70) vw(15);
      .full_container {
        .w70_block {
          .page_title_wrapper {
            .page_title {
              font-size: 1.5rem;
            }
            .page_subtitle {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}

.small_heading_banner {
  &__big {
    .inner {
      padding-top: vh(350);
      padding-bottom: vh(250);
      @include responsive_padding;
      @media (max-width: 992px) {
        padding-top: vh(250);
        padding-bottom: vh(150);
      }
      @media (max-width: 768px) {
        padding: vh(250) vw(20) vh(150) vw(20);
        @include responsive_padding;
      }
      @media (max-width: 480px) {
        padding: vh(200) vw(15) vh(100) vw(15);
        @include responsive_padding;
      }
    }
  }
}
