@use "./functions/Functions.scss" as *;
@use "./functions/Mixins.scss" as *;

.main_bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  .slide_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: vh(180);
    padding-bottom: vh(180); 
    @include responsive_padding;
    @media (max-width: 576px) {
      padding-top: vh(150);
      padding-bottom: vh(150);
    }

    .slide_inner {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      z-index: 9;
      align-items: stretch;
      @media (max-width: 992px) {
        flex-direction: column;
        gap: rem(50);
      }
      @media (max-width: 576px) {
        gap: rem(20);
      }

      .text_section {
        // max-width: 730px;
        flex: 1;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // padding-right: vw(50);

        h1 {
          padding-right: vw(50);
          font-weight: 500;

          font-size: clamp(40px, 5vw, 81px);
          line-height: 120%;
          color: #ffffff;
        }

        p {
          padding-right: vw(50);
          font-weight: 400;
          font-size: 30px;
          line-height: 130%;
          color: #ffffff;
          @media (max-width: 576px) {
            margin-bottom: rem(20);
          }
        }
      }
    }

    .banner_image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .small_heading_banner .triangle_decor {
      max-width: 100%;
      width: 100%;
      z-index: 3;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
    }

    .form_section {
      flex: 1;
      // width: 100%;
      // max-width: 530px;
      // min-height: 750px;
      display: flex;
      justify-content: flex-end;

      .form {
        // width: 100%;
      }
    }
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
